In [1]:
import pandas as pd 
import numpy as np

In [3]:
df_train = pd.read_csv('contest1_train.csv')

In [5]:
df_train.head()

,id,text,aspectCategory,polarity
0,3121,But the staff was so horrible to us.,service,negative
1,2777,"To be completely fair, the only redeeming fact...",food,positive
2,2777,"To be completely fair, the only redeeming fact...",anecdotes/miscellaneous,negative
3,1634,"The food is uniformly exceptional, with a very...",food,positive
4,2534,Where Gabriela personaly greets you and recomm...,service,positive

In [9]:
df_train['aspectCategory'].value_counts()

aspectCategory
food                       1051
anecdotes/miscellaneous     956
service                     506
ambience                    368
price                       275
Name: count, dtype: int64